/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title {
  background-color: white;
  width: 50rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  padding: 0px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

h1 {
  color: black;
}

p {
  padding-bottom: 20px;
}

#number {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  border: 0.5px solid black;
}

.btn:hover {
  box-shadow: 1px 1px 1px black;
}

.add-data {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add {
  margin-bottom: 10px;
}

form,
.form-edit {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.name,
.course,
.score {
  margin-right: 10px;
}

#submit {
  border: 1px solid black;
  padding: 10px;
  background-color: lightgrey;
  color: black;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}